<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="London-based craftsman sculptor painter model maker, making stuff with a special touch!"> 
		<meta name="keywords" content="trevor jones, crafts, models, sculpture, painter, model maker, studio, design, miniature figures">
		<meta name="robots" content="noindex, nofollow"/>
		<title>Dusty's Corner - 404</title>

		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-dropdownhover.min.css" rel="stylesheet">
		<link href="/css/animate.min.css" rel="stylesheet">
		<link href="/css/jasny-bootstrap.min.css" rel="stylesheet">
		<link href="/css/popup-modal.css" rel="stylesheet">
		<link href="/css/font-awesome.min.css" rel="stylesheet">	
		<link href="/css/lightbox.min.css" rel="stylesheet">

		<link href="/css/style.css" rel="stylesheet">		
		<link href="/css/header.css" rel="stylesheet">
		<link href="/css/footer.css" rel="stylesheet">
		<link href="/css/sidebar.css" rel="stylesheet">
		<link href="/css/not-found.css" rel="stylesheet">		
				
		<link rel="icon" href="favicon.ico" type="image/x-icon">

		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->		
	</head>
	<body ng-app="app">				
		
		<ng-include src="'/views/header.html'"></ng-include>
		
		<div id="content" class="container">
			<div class="row">
				<div id="main" class="col-lg-9">
	
					<div class="wrapper_404 text-center">
						<h1 class="color">404</h1>
						<h2>Oops, Sorry We Can’t Find That Page!</h2>
						<p>Either Something Went Wrong or the Page Doesn’t Exist Anymore.</p>				
					</div>
				</div>

				<ng-include src="'/views/sidebar-large.html'"></ng-include>
											
				<a id="back-to-top" href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-chevron-up"></span></a>
			</div>		
		</div>	

		<ng-include src="'/views/footer.html'"></ng-include>	
		<ng-include src="'/views/cookies.html'"></ng-include>

		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>	
		<script src="/js/angular.min.js"></script>
		<script src="/js/angular-route.min.js"></script>
		<script src="/js/ngCart.min.js"></script>		
		<script src="/js/jasny-bootstrap.min.js"></script>		
		<script src="/js/lightbox.js"></script>	
		<script src="/js/linq.min.js"></script>	
		<script src="/js/dirPagination.js"></script>	
	
		<script src="/js/app.js"></script>
		<script src="/js/home.js"></script>		
		
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid="></script> 
		
	</body>
</html>