@model DustysCorner.MVC.Models.ErrorViewModel

@{
    ViewBag.Title = "404";
}

<div id="main" class="col-lg-12">
    <div class="wrapper_404 text-center">
        <h2>404 Error</h2>
        <h2>Oops, Sorry We Can’t Find That Page!</h2>
        <p>Either Something Went Wrong or the Page Doesn’t Exist Anymore.</p>
    </div>
</div>
