#main div {
	padding-left: 0px;
}

#main img {
	width: 300px;
	margin-bottom: 30px;
}

.link-heading {
	margin-top: 15px;
}

@media (max-width: 340px) { 				
	#main img {
		width: 100%;
		margin-bottom: 30px;
	}
	
}